# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv/
env/
venv/

# Distribution / Packaging
dist/
build/
*.egg-info/

# IDEs
.vscode/
.idea/

# Project Specific
weights/
!weights/gguf/.keep
*.log

models/